$shockproof-background-color: #263238;
$shockproof-text-color: #BB86FC;
$shockproof-input-border-color: #6c757d;
$shockproof-dark: #37474F;
$shockproof-info-color: orange;
$shockproof-danger-color: red;
$shockproof-border-radius: 1rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
