$shockproof-background-color: #212529;
$shockproof-text-color: #6200EE;
$shockproof-input-border-color: #6c757d;
$shockproof-dark: #2d3035;
$shockproof-info-color: tomato;
$shockproof-danger-color: teal;
$shockproof-border-radius: 0rem;

@import "./BootstrapCustomization.scss";

@import "./scssLinks.scss";
